@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

body {
  height: 100vh;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #35748f,
    #266074,
    #0e2d3a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #35748f,
    #266074,
    #0e2d3a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.App {
  font-family: "Righteous", cursive;
  text-align: center;
  color: white;
  width: 100%;
  letter-spacing: 0.15em;
}

.app-title {
  color: #ff2a39;
  margin-top: 1.5em;
  margin-bottom: 1.8rem;
  font-size: 4.8em;
}

.movie-tv-shows-btns {
  margin-bottom: 2rem;
}

.search-bar {
  padding: 0.6em;
  width: 50%;
  border: none;
  border-radius: 0.8em;
  margin-bottom: 1.5em;
}

.search-button {
  padding: 0.6em;
  border: none;
  border-radius: 0.8em;
  margin: 0.3em;
  background-color: #ff2a39;
  color: white;
}

.search-button:hover {
  background: #d9534f;
}

.genre-dropdown {
  padding: 0.65em;
  width: 50%;
  border: none;
  border-radius: 0.8em;
  margin: 0.4em;
  margin-bottom: 13em;
}

img {
  border-radius: 0.5em;
  margin: 1.7em;
  height: 420px;
}

.description-button {
  margin-bottom: 6em;
  background-color: #ff1531;
  border: none;
  padding: 0.6em;
  width: 38%;
}

.movie-title-div {
  height: 4.5em;
}

.search-bar-col {
  text-align: right;
}

.genre-dropdown-col {
  text-align: left;
}

footer img {
  width: 20%;
  min-height: 100vh;
}

@media (max-width: 576px) {
  .search-bar-col {
    text-align: center;
  }

  .genre-dropdown-col {
    text-align: center;
  }
}
